# Ignore data files
*.csv
*.parquet
*.json
*.zip
*.sql
# Ignore data directory
data/

# Python cache files
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Docker volumes
ny_taxi_postgres_data/

public ssh key
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCewdnatUCB+3EH/OdzxM1dKeKhl7qSWOFh0z3cbNH1ZpCotQS5JogzO+7/CvTg55lP3vUeBM6lFzO1YDiueagmqCiz7KIYxqQiyYsinoBNkPZ93oKHgaxV/P6yuROu3jPch2NpkITa34jLfk2Zv4VMOvt2j9PJKP7LwkTiVyLg69tlp8XZ9L6G6x7nkaJZ9o3GQ1W1g8grAXZiRm2iz/kWmULeZ8Ut9DKmYlGJOBgOdWNCGotk+M+45+PpTlnUcSJswCDZjZkLwUpKIy8uAaFWVtddM09d2HqtN4kxvxuoztHKRzBb18iTwe5UiRpmtSTItfo9Fk5mcUaVQ/42PTi/KsgKJm/9AKNzvSewej/nqKuzqrECjJHH10IbBnH1RrMSJwyAasZSiHrHHgW/ef7YEL/zT4l1oUdHL+Ox+cTwxvmRnxM3Ym17wlaNe3LvmjvanPldJfv29xve2Dhmv7FHCa0b+q6t5xcGMDjzqLyHYteAsI5UmO3inpbYD+vqQ68= saral